discord.py[voice]
pytz
asyncio
requests
flask
flask_cors
python-dotenv
gTTS
pyttsx3
PyNaCl
boto3
googletrans
ffmpeg
uvicorn
fastapi
telethon 
requests
google-generativeai
pillow
pyopenssl
tweepy
treys
aiohttp
websockets
chess
yfinance
mercadopago
aiosqlite
edge-tts